Source: pardus-font-manager
Section: x11
Priority: optional
Maintainer: Emel Öztürk <emel.ozturk@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools, gcc, libfontconfig1-dev

Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-font-manager

Package: pardus-font-manager
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         fontconfig
Description: Pardus Font Manager.
 Simple font manager
 
